################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab3RMP2/Lab3RMP2/Properties/AndroidManifest.xml
